html {
    scroll-behavior: smooth;
}
body{
    margin: auto;
    padding: 0px;
}
header{
    text-align: center;
    background-image: url("img/coding.jpg");
    vertical-align: middle;
    /*height: 20em;*/
    display: flex;
    flex-direction: column;
}
header > h1,h2,h4{
    font-family: Arial, Helvetica, sans-serif;
}
header > p{
    font-family: Georgia;
}
header > div{
    color: rgb(228, 228, 228);
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    margin-top: 8em;
    margin-bottom: 8em;
    border-radius: 10px;
    border:rgba(56, 56, 56, 0.7) solid 1px;
    padding: 0px 3em 0px;
}
nav{
    background-color: rgb(196, 195, 195);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav > a{
    transition: 0.2s;
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0px;
}
nav > a:hover{
    transition: 0.2s;
    background-color: white;
}
section{
    padding: 0 2% 0; /*Haut, horizontal, bas*/
}
section + section{
    margin-top: 10px;
}
section p{
    padding: 0px 5px 0px 5px;
}
td{
    padding: 5px;
}
strong{
    font-family: Arial, Helvetica, sans-serif;
}
.projets-conteneur
{
    display: flex;
    flex-direction: row;
    margin: 0px;
    justify-content: space-between;
}
.projet{
    padding: 0px;
    flex: 1;
    flex-wrap: wrap;
}
.projet p{
    padding: 0;
    text-align: justify;
}
.projet+.projet{
    margin-left: 20px;
}