html {
    scroll-behavior: smooth;
}
body{
    margin: auto;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
    background-image: url("img/coding.jpg");
    vertical-align: middle;
    /*height: 20em;*/
    display: flex;
    flex-direction: column;
}
header > h1,h2,h4{
    font-family: Arial, Helvetica, sans-serif;
}
header > p{
    font-family: 'Times New Roman', Times, serif;
}
header > div{
    color: rgb(228, 228, 228);
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    margin-top: 8em;
    margin-bottom: 8em;
    border-radius: 10px;
    border:rgba(56, 56, 56, 0.7) solid 1px;
    padding: 0px 3em 0px;
}
nav{
    background-color: rgb(196, 195, 195);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
nav > a{
    transition: 0.2s;
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0px;
}
nav > a:hover{
    transition: 0.2s;
    background-color: white;
}
section{
    padding: 0 2% 0; /*Haut, horizontal, bas*/
}
section + section{
    margin-top: 10px;
}
table{
    border-collapse: collapse;
}
td{
    padding: 5px 10px 5px 0px;
}
strong{
    font-family: Arial, Helvetica, sans-serif;
}
.projets-conteneur
{
    display: flex;
    flex-direction: row;
    margin: 0px;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 1%; /* définit l'espace entre les colonne d'un élément */
}
.projet{
    padding: 10px;
    flex: 1;
    min-width: 400px;
}
.projet p{
    padding: 10;
    text-align: justify;
}
footer{
    padding: 3px;
    text-align: center;
    background-color: rgb(37, 37, 37);
    color:rgb(114, 114, 114);
    font-family: Arial, Helvetica, sans-serif;
}
