@font-face {
    font-family: monoExtraBold;
    src: url(fonts/JetBrainsMonoNL-ExtraBold.ttf);
}

@font-face {
    font-family: monoLight;
    src: url(fonts/JetBrainsMono-Light.ttf);
}

html {
    scroll-behavior: smooth;
}
body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    --header-color: rgb(228, 228, 228);
    text-align: center;
    background-image: url("img/Background.png");
    /*height: 20em;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
h2,h4{
    font-family: Arial, Helvetica, sans-serif;
}
header p{
    font-family: monoLight;
    font-size: 2vw;
    margin: 0px;
}
header h1{
    font-family: monoExtraBold;
    margin: 0px;
    font-size: 5vw;
    border-right: 0.8vw solid var(--header-color);
    letter-spacing: 0.5vw;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(15,end),
        blink-caret 1s step-end infinite;
}

/* affichage des lettre*/
@keyframes typing{
    from {width: 0}
    to {width: 100%}
}

@keyframes blink-caret {
    from, to {border-color: transparent}
    50% { border-color: var(--header-color);}
}

header > div{
    color: rgb(228, 228, 228);
    display: inline;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    background-color: rgb(196, 195, 195);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
nav > a{
    transition: 0.2s;
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0px;
}
nav > a:hover{
    transition: 0.2s;
    background-color: white;
}
section{
    padding: 0 2% 0; /*Haut, horizontal, bas*/
}
section + section{
    margin-top: 10px;
}
table{
    border-collapse: collapse;
}
td{
    padding: 5px 10px 5px 0px;
}
strong{
    font-family: Arial, Helvetica, sans-serif;
}
.projets-conteneur
{
    display: flex;
    flex-direction: row;
    margin: 0px;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 1%; /* définit l'espace entre les colonne d'un élément */
}
.projet{
    padding: 0px;
    flex: 1;
    min-width: 400px;
}
.projet p{
    padding: 0;
    text-align: justify;
}
footer{
    padding: 3px;
    text-align: center;
    background-color: rgb(37, 37, 37);
    color:rgb(114, 114, 114);
    font-family: Arial, Helvetica, sans-serif;
}